In [1]:
import pandas as pd

In [2]:
bigmart = pd.read_csv('train_bm.csv')

In [3]:
bigmart.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
bigmart.shape

(8523, 12)

In [5]:
bigmart.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [6]:
bigmart['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [7]:
pd.get_dummies(bigmart['Outlet_Type']).head()

   Grocery Store  Supermarket Type1  Supermarket Type2  Supermarket Type3
0              0                  1                  0                  0
1              0                  0                  1                  0
2              0                  1                  0                  0
3              1                  0                  0                  0
4              0                  1                  0                  0

In [8]:
bigmart_encoded = pd.get_dummies(bigmart)
bigmart_encoded.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [9]:
bigmart_encoded.shape

(8523, 1605)

In [10]:
bigmart_encoded[['Outlet_Size_High','Outlet_Size_Medium','Outlet_Size_Small']]

      Outlet_Size_High  Outlet_Size_Medium  Outlet_Size_Small
0                    0                   1                  0
1                    0                   1                  0
2                    0                   1                  0
3                    0                   0                  0
4                    1                   0                  0
5                    0                   1                  0
6                    1                   0                  0
7                    0                   1                  0
8                    0                   0                  0
9                    0                   0                  0
10                   0                   1                  0
11                   0                   0                  1
12                   0                   1                  0
13                   0                   0                  1
14                   1                   0                  0
15                   0                   0                  1
16                   0                   1                  0
17                   0                   1                  0
18                   0                   1                  0
19                   0                   0                  1
20                   1                   0                  0
21                   0                   1                  0
22                   0                   0                  1
23                   0                   0                  1
24                   0                   0                  1
25                   0                   0                  0
26                   0                   0                  1
27                   1                   0                  0
28                   0                   0                  0
29                   0                   0                  1
...                ...                 ...                ...
8493                 0                   0                  0
8494                 0                   0                  0
8495                 0                   0                  1
8496                 0                   0                  0
8497                 0                   0                  1
8498                 0                   1                  0
8499                 0                   0                  1
8500                 0                   0                  0
8501                 0                   0                  0
8502                 0                   0                  0
8503                 0                   0                  1
8504                 0                   1                  0
8505                 0                   1                  0
8506                 0                   1                  0
8507                 0                   0                  1
8508                 0                   0                  0
8509                 0                   0                  0
8510                 0                   0                  1
8511                 0                   1                  0
8512                 1                   0                  0
8513                 0                   0                  1
8514                 0                   0                  0
8515                 0                   1                  0
8516                 0                   1                  0
8517                 0                   0                  1
8518                 1                   0                  0
8519                 0                   0                  0
8520                 0                   0                  1
8521                 0                   1                  0
8522                 0                   0                  1

[8523 rows x 3 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [13]:
bigmart['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [14]:
le = LabelEncoder()
le.fit_transform(['Small','Medium','High'])

array([2, 1, 0], dtype=int64)

In [15]:
bigmart["Outlet_Size"] = bigmart['Outlet_Size'].map({'Small':0,'Medium':1,'High':2})